In [1]:
import pandas as pd

In [26]:
first_spies_set = pd.read_csv('./data/ready/spyes/spyes.csv')

In [28]:
second_spies_set = pd.read_csv('./data/ready/spyes/frequent_spies.csv')

In [23]:
third_spies_set = pd.read_csv('./data/ready/spyes/filtered_strange_person.csv')

In [32]:
spies = pd.merge(first_spies_set[['name']], second_spies_set[['name']], how='outer', on='name')

In [39]:
spies = pd.merge(spies, third_spies_set[['name']], how='outer', on='name')

In [43]:
spies

                   name
0    ABRAMOVA ANZHELIKA
1          ADEL VORONOV
2      ADELINA CHERNAIA
3     ADELINA FOMICHEVA
4     AFANAS'EVA ZARINA
..                  ...
444     ZUBOVA LIUDMILA
445        ZUEV ALEKSEY
446        ZUEVA MILENA
447       ZVEREV LEONID
448    ZVEREVA TAT'YANA

[449 rows x 1 columns]

In [45]:
spies.to_csv('spies.csv')