In [53]:
import pandas as pd

In [55]:
pointz = pd.read_csv('../data/PointzAggregator-AirlinesData.csv', index_col='id')

In [57]:
pointz.head()

,uid,FirstName,LastName,CardNumber,BonusProgram,Code,Date,Departure,Arrival,Fare
id,,,,,,,,,,
0,613142142,IAROMIR,ZVEREV,FB 171388778,Flying Blue,KE827,2017-08-06,rea,SZX,YGRPZT
1,613142142,IAROMIR,ZVEREV,FB 171388778,Flying Blue,MU9706,2017-10-26,PEK,BSD,YSTNYV
2,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,DL5058,2017-09-11,CHA,ATL,YRSTKY
3,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,KE1,2017-04-01,rea,HNL,PRSTRU
4,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,DL837,2017-09-13,ATL,HNL,YGRPNG

### Найдем все бонусные программы

In [59]:
pointz.BonusProgram.unique()

array(['Flying Blue', 'Korean Air SKYPASS', 'Delta SkyMiles',
       'Aeroflot Bonus'], dtype=object)

### Выделим номер и код программы

In [61]:
pointz['bonus'] = [bonus.split()[0] for bonus in pointz['CardNumber'].values]

In [63]:
pointz['number'] = [number.split()[1] for number in pointz['CardNumber'].values]

In [65]:
pointz.head()

,uid,FirstName,LastName,CardNumber,BonusProgram,Code,Date,Departure,Arrival,Fare,bonus,number
id,,,,,,,,,,,,
0,613142142,IAROMIR,ZVEREV,FB 171388778,Flying Blue,KE827,2017-08-06,rea,SZX,YGRPZT,FB,171388778
1,613142142,IAROMIR,ZVEREV,FB 171388778,Flying Blue,MU9706,2017-10-26,PEK,BSD,YSTNYV,FB,171388778
2,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,DL5058,2017-09-11,CHA,ATL,YRSTKY,KE,696768759
3,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,KE1,2017-04-01,rea,HNL,PRSTRU,KE,696768759
4,103197717,VITALINA,KOROVINA,KE 696768759,Korean Air SKYPASS,DL837,2017-09-13,ATL,HNL,YGRPNG,KE,696768759

### Составим уникальные комбинации ИМЯ + НОМЕР + КОД ПРОГРАММЫ

In [67]:
pointz['name'] = pointz['FirstName'] + ' ' + pointz['LastName']

In [69]:
comb = pointz[['name', 'bonus', 'number']]

In [71]:
comb = comb.drop_duplicates()

In [50]:
comb.to_csv('../data/bonus.csv', index_label='id')