In [80]:
import pandas as pd

In [81]:
anomaly = pd.read_csv('../data/ready/Anomaly.csv')

In [82]:
anomaly.head()

   Unnamed: 0              name
0           0      ADEL AKSENOV
1           2  ADEL ALEKSANDROV
2           3     ADEL ASTAKHOV
3           5    ADEL BABUSHKIN
4           6        ADEL BASOV

In [143]:
boarding = pd.read_csv('../data/ready/BoardingData.csv')

In [84]:
boarding = boarding[['name', 'percent_suspicious_flights']]

In [85]:
boarding.head()

                 name  percent_suspicious_flights
0     SAVELII RUSANOV                    0.200000
1           LEV ISAEV                    0.600000
2   NIKOLAI NIKOLSKII                    0.555556
3     ANATOLII SHILOV                    0.333333
4  MIROSLAVA SEMENOVA                    0.000000

In [86]:
pointz = pd.read_csv('../data/ready/PointzAggregator-AirlinesData.csv')

In [87]:
pointz = pointz[['name', 'percent_suspicious_flights']]

In [88]:
pointz.head()

                name  percent_suspicious_flights
0     IAROMIR ZVEREV                    0.500000
1  VITALINA KOROVINA                    0.500000
2      DANIL VAVILOV                    0.250000
3       AMIR LOPATIN                    0.500000
4    IAROSLAV AKIMOV                    0.857143

In [89]:
sky_team = pd.read_csv('../data/ready/SkyTeam-exchange.csv')

In [90]:
sky_team = sky_team[['name', 'percent_suspicious_flights']]

In [91]:
sky_team.head()

                 name  percent_suspicious_flights
0  MELANIIA AFANASEVA                    0.000000
1       SOFIA MASLOVA                    0.090909
2       BORIS MALININ                    0.045455
3         FEDOR ROGOV                    0.000000
4  EVGENIYA MAKSIMOVA                    0.066667

In [160]:
df = pd.merge(boarding, pointz, how='outer', on=['name',	'percent_suspicious_flights'])

In [162]:
df = pd.merge(df, sky_team, how='outer', on=['name',	'percent_suspicious_flights'])

In [136]:
df.drop_duplicates(inplace=True)

In [141]:
df.head()

            name  percent_suspicious_flights
0  ADEL AFANASEV                    0.000000
1     ADEL AGEEV                    0.000000
2     ADEL AGEEV                    0.444444
3     ADEL AGEEV                    0.500000
4    ADEL AKIMOV                    0.000000

In [156]:
merged_df = pd.merge(anomaly, df, how='inner', on='name')

In [192]:
merged_df = merged_df[['name', 'percent_suspicious_flights']]
merged_df.drop_duplicates(inplace=True)

In [194]:
merged_df.head()

               name  percent_suspicious_flights
0      ADEL AKSENOV                    0.250000
1  ADEL ALEKSANDROV                    0.000000
2     ADEL ASTAKHOV                    0.000000
3    ADEL BABUSHKIN                    0.375000
4    ADEL BABUSHKIN                    0.444444

In [222]:
merged_df.describe()

       percent_suspicious_flights
count                   51.000000
mean                     0.879278
std                      0.008663
min                      0.875000
25%                      0.875000
50%                      0.875000
75%                      0.875000
max                      0.909091

In [214]:
merged_df = merged_df[merged_df['percent_suspicious_flights'] > 0.86]

In [225]:
merged_df.head()

                   name  percent_suspicious_flights
188        ADEL VORONOV                       0.875
1382   ALBINA SAKHAROVA                       0.900
1453  ALEKSANDR ANTONOV                       0.875
3668      ALLA KORNEEVA                       0.875
4638      AMIR GAVRILOV                       0.875

In [227]:
merged_df.to_csv('../data/ready/spyes.csv')